.containerHome {
    width: 100%;
    height: 93vh;
    margin: 0;
    padding: 0;
}

/* Navigation */
.searchBarContainer {
    background-image: url("/backgroundphoto.png");
    width: 100%;
    height: 472px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchBar {
    color: var(--colorWhite);
    text-align: center;
}

.searchBar h1 {
    margin-bottom: 50px;
}

.searchBar input[type="text"] {
    position: relative;
    padding: 12px;
    font-size: 1.2em;
    width: 70%;
    border: none;
    border-radius: 15px;
    box-shadow: 3px 4px 0px 0px var(--colorYellow);
}

.searchBar input[type="text"]:focus {
    border: none;
    outline: none;
}


.input-wrapper {
    position: relative;
}

label {
    position: absolute;
    left: 540px;
    top: 2px;
    color: #000000;
    cursor: text;
    background-color: white;
    padding: 9px;
    border-radius: 15px;
    font-size: 1.2em;
}

/* Quotes */
.quotesContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: red;
    width: 100%;
    height: 429px;
    flex-wrap: wrap;
}
.quotesContainer h2{
    text-align: center;
    width: 30%;
    background-color: aqua;
}

.quotes {
    display: flex;
    flex-direction: column;
    width: 30%;
}
.quotes img{
    width: 20%;
}
.quotes p{

}