:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --colorYellow: #F4DA22;
  --colorBlack: #0A0908;
  --colorBlue: #3F7FBF;
  --colorWhite: #FFFF;
}

body {
  overflow: auto;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Mulish';
  
}

h1, h2 {
  margin: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

li {
  list-style: none;
  text-decoration: none;
}

ul {
  padding: 0;
}