:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --colorYellow: #F4DA22;
  --colorBlack: #1b1c1e;
  --colorBlue: #3F7FBF;
  --colorSoftWhite: #f1f1f1;
  --colorWhite: #fff;
  --colorOrange: #fe9900;
  --colorGray: #969696;
}

body {
  overflow: auto;
  width: 100%;
  margin: 0;
  padding: 0 10% 0 10%;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Mulish';
  background-color: var(--colorWhite);
}

h1, h2 {
  margin: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: white;
}

li {
  list-style: none;
  text-decoration: none;
}

ul {
  padding: 0;
}